* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
  color: white;
  height: 100vh;
}
header {
  position: fixed;
  width: 100%;
  background-color: #1e1e1e;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border-radius: 8px;
  border: 1px solid #60A5FA;
  background-color: transparent;
  color: white;

  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
}
input {
  -webkit-appearance: none;
  appearance: none;

  width: 64px;
  height: 64px;

  background: #18181b;
  border: 2px solid #27272a;
  border-radius: 8px;
}
input:checked {
  background: #3B82F6;
  border: 2px solid #60A5FA;
  border-radius: 8px;
}
#form {
  padding: 182px 24px 24px;
  display: flex;
  width: fit-content;
}
.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.habit {
  height: 64px;
  width: 64px;

  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.days {
  margin-left: 32px;
  display: flex;
  gap: 48px;
}
.day {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.day div {
  margin-bottom: 8px;
  font-family: "Roboto Mono";
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa;

  text-align: center;
}
@media (max-width: 570px) {
  button div {
    display: none;
  }
}
